<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1074504409960-cvpa1bg7u4naj24al13t5m4sm6nfe8va.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1074504409960-cvpa1bg7u4naj24al13t5m4sm6nfe8va</string>
	<key>API_KEY</key>
	<string>AIzaSyBgVTk6qXy0QuGbyypfGDYgmTug_p69YY4</string>
	<key>GCM_SENDER_ID</key>
	<string>1074504409960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.galkina.Footballgame</string>
	<key>PROJECT_ID</key>
	<string>footballgame-a4721</string>
	<key>STORAGE_BUCKET</key>
	<string>footballgame-a4721.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1074504409960:ios:3e6813f3e8a66e2a</string>
	<key>DATABASE_URL</key>
	<string>https://footballgame-a4721.firebaseio.com</string>
</dict>
</plist>